# 1 Assignment 4

In [1]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\deivi\anaconda3\lib\site-packages (1.2.6)
Requirement already satisfied: pandas>=1.2.0 in c:\users\deivi\anaconda3\lib\site-packages (from pyreadstat) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\deivi\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\deivi\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\deivi\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\deivi\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\deivi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

In [2]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
import pyreadstat

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [3]:
rec_1, meta_1 = pyreadstat.read_sav('../../_data/endes/2019/REC0111.sav')
var_labels1 = meta_1.column_names_to_labels
value_labels1 = meta_1.variable_value_labels
rec_1

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,2.0,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,0.0,7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,2.0,2.0,2.0,010101,3.0,154803.0,2.0,-0.256431,2.0,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.750187,2.0,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.676861,2.0,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,2.0,2.0,2.0,250401,249.0,459792.0,1.0,-1.585333,2.0,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,2.0,2.0,2.0,250401,249.0,459792.0,1.0,-1.650159,2.0,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.644720,2.0,15783.0

In [4]:
rec_2, meta_2 = pyreadstat.read_sav('../../_data/endes/2019/RE223132.sav')
var_labels2 = meta_2.column_names_to_labels
value_labels2 = meta_2.variable_value_labels
rec_2

,ID1,CASEID,V201,V202,V203,V204,V205,V206,V207,V208,...,V307_09,V307_10,V307_11,V307_12,V307_13,V307_14,V307_15,V307_16,QI302_05A,QI302_05B
0,2019.0,000100201 2,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,2.0
1,2019.0,000100201 3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.0,000102801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,2.0,1.0
3,2019.0,000102801 6,3.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
4,2019.0,000104801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36917,2019.0,325406201 2,5.0,1.0,1.0,2.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36918,2019.0,325406301 2,5.0,2.0,2.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36919,2019.0,325407001 2,8.0,2.0,0.0,5.0,0.0,0.0,1.0,0.0,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36920,2019.0,325407201 2,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36921,2019.0,325407401 2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [5]:
rec_3, meta_3 = pyreadstat.read_sav('../../_data/endes/2019/RE516171.sav')
var_labels3 = meta_3.column_names_to_labels
value_labels3 = meta_3.variable_value_labels
rec_3

,ID1,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,...,V743C,V743D,V743E,V743F,V744A,V744B,V744C,V744D,V744E,V746
0,2019.0,000100201 2,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2008.0,...,1.0,2.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2019.0,000102801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2011.0,...,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0
2,2019.0,000102801 6,5.0,2.0,1.0,NaN,NaN,NaN,8.0,1984.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
3,2019.0,000104801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2009.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2019.0,000113601 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,2005.0,...,1.0,1.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,2019.0,325406201 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,1985.0,...,2.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
33307,2019.0,325406301 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2002.0,...,1.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
33308,2019.0,325407001 2,2.0,1.0,1.0,1.0,NaN,NaN,11.0,1986.0,...,4.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
33309,2019.0,325407201 2,2.0,1.0,1.0,1.0,NaN,NaN,5.0,2008.0,...,4.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
33310,2019.0,325407401 2,2.0,1.0,1.0,1.0,NaN,NaN,6.0,2013.0,...,4.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

In [6]:
# We have selected these columns for each DataFrame
columns_rec1 = ["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"]
columns_rec2 = ["CASEID", "V201", "V218", "V301", "V302", "V323", "V323A", "V325A", "V326", "V327", "V337", "V359", "V360", "V361", "V362", "V363", "V364", "V367", "V372", "V372A", "V375A", "V376", "V376A", "V379", "V380"]
columns_rec3 = ["CASEID", "V501", "V502", "V503", "V504", "V505", "V506", "V507", "V508", "V509", "V510", "V511", "V512", "V513", "V525", "V613", "V714", "V715"]

# Selecting columns
rec1_1 = rec_1.loc[:, columns_rec1]
rec2_1 = rec_2.loc[:, columns_rec2]
rec3_1 = rec_3.loc[:, columns_rec3]

# Update labels information
def update_value_labels(original_value_labels, selected_columns):
    return {key: value for key, value in original_value_labels.items() if key in selected_columns}

# Update label information if it is in the form of dictionaries
new_value_labels1 = update_value_labels(value_labels1, columns_rec1)
new_value_labels2 = update_value_labels(value_labels2, columns_rec2)
new_value_labels3 = update_value_labels(value_labels3, columns_rec3)

In [7]:
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V024,V102,V120,V121,V122,V123,V124,V125,V127,V133
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [8]:
# We added 'Year'

rec1_1.loc[:, 'year'] = 2019

# New label 'Year of the survey'

new_var_labels1.update({'year': 'Year of the survey'})

NameError: name 'new_var_labels1' is not defined

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [ ]:
endes_2019 = rec1_1.merge(rec2_1, on='CASEID', how='inner').merge(rec3_1, on='CASEID', how='inner')

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [ ]:
# first, we unify new_var_labels into var_labels
var_labels = {}
var_labels.update(new_var_labels1)
var_labels.update(new_var_labels2)
var_labels.update(new_var_labels3)

# Then, we unify new_value_labels into value_labels
value_labels = {}
value_labels.update(new_value_labels1)
value_labels.update(new_value_labels2)
value_labels.update(new_value_labels3)

6. Now, replicate your code of the prevoius sections but for years **2019, 2018, 2017, 2016, 2015**. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their **variables and values labels** from this path `"../../_data/endes/"`. For this excersie you must use a for loop. This loop must iterate over **2019, 2018, 2017, 2016, 2015 folders** and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as `all_data`. The keys of the dictionary should be named as `year_2019`, for example, and the keys of the nested dictionary should be `data`, `var_labels`, and `value_labels`. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.)**

In [ ]:
# We create a list with the names of the year folders we want to import
years = [2019, 2018, 2017, 2016, 2015]

# We create an empty dictionary were we will store the files for the respective year
all_data = {}

# We use a for loop to iterate in each year  
for year in years:
    # Construct the path to the data files for the current year
    path = f"../../_data/endes/{year}/"
    
    # Import data for each REC file
    rec_1, meta_1 = pyreadstat.read_sav(os.path.join(path, 'REC0111.sav'))
    rec_2, meta_2 = pyreadstat.read_sav(os.path.join(path, 'RE223132.sav'))
    rec_3, meta_3 = pyreadstat.read_sav(os.path.join(path, 'RE516171.sav'))
    
    # We create lists selecting the columnss from each data
    cols1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133']
    cols2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
    cols3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']
    
    rec1_1 = rec_1.loc[:, cols1]
    rec2_1 = rec_2.loc[:, cols2]
    rec3_1 = rec_3.loc[:, cols3]
    
    # We merge the data 
    endes = rec1_1.merge(rec2_1, on='CASEID', how='inner')
    endes = endes.merge(rec3_1, on='CASEID', how='inner')
    
    # We generate a new "year" column for the new data 
    endes.loc[:, 'year'] = year
    
    # To update the value labels and to combine all column lists into one
    all_cols = cols1 + cols2 + cols3

    # We filter variable labels based on the selected variables
    filtered_var_labels1 = {k: v for k, v in meta_1.column_names_to_labels.items() if k in all_cols}
    filtered_var_labels2 = {k: v for k, v in meta_2.column_names_to_labels.items() if k in all_cols}
    filtered_var_labels3 = {k: v for k, v in meta_3.column_names_to_labels.items() if k in all_cols}

    # We combine all filtered varuable labels into one
    var_labels = {**filtered_var_labels1, **filtered_var_labels2, **filtered_var_labels3}
    var_labels['year'] = "Year of the survey"
    
    # We filter the value labels based on the selected variables
    filtered_value_labels1 = {k: v for k, v in meta_1.variable_value_labels.items() if k in all_cols}
    filtered_value_labels2 = {k: v for k, v in meta_2.variable_value_labels.items() if k in all_cols}
    filtered_value_labels3 = {k: v for k, v in meta_3.variable_value_labels.items() if k in all_cols}
 
    # We combine all filtered value labels into one
    value_labels = {**filtered_value_labels1, **filtered_value_labels2, **filtered_value_labels3}

    # We store the filtered data variable labels and value_labels in the nested dictionary all_data
    all_data[f'year_{year}'] = {'data': endes, 'var_labels': var_labels, 'value_labels': value_labels}

In [ ]:
all_data

7. Use `all_data` to append all the data sets. Store all data sets in a list using `for loop`. Then, use `pd.concat` to append all the data sets. Also, you must reset the index to have a good-looking data. This new object should be named as `endes_data_2015_2019`. **Hint: Use [this code](https://stackoverflow.com/questions/32444138/concatenate-a-list-of-pandas-dataframes-together)**

In [ ]:
# We create an empty list to store all data sets
data_list = []

# We use a loop to iterate over each item in the all_data dictionary
for year, data_dict in all_data.items():
    # We append the data set to the list
    data_list.append(data_dict['data'])

# we use pd.concat to append all the data sets
endes_data_2015_2019 = pd.concat(data_list)

# We reset the index
endes_data_2015_2019.reset_index(drop=True, inplace=True)

8. Store all the `var_labels` and `value_labels` in a dictionary named as `all_var_labels` and `all_value_labels`. The first keys should be the year for both dictionaries.Then, use them to generate new attributes for `endes_data_2015_2019`. These attributes should be named as `var_labels` and `value_labels`.  **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.3.)**

In [ ]:
# Generate new attributes for endes_data_2015_2019
for year, var_labels in all_var_labels.items():
    value_labels = all_value_labels.get(year, {})  # Get the corresponding value labels for the year
    var_labels_attribute_name = f'var_labels_{year}'
    value_labels_attribute_name = f'value_labels_{year}'

    setattr(endes_data_2015_2019, var_labels_attribute_name, var_labels)
    setattr(endes_data_2015_2019, value_labels_attribute_name, value_labels)

# Print the modified endes_data_2015_2019
print("endes_data_2015_2019:")
print(endes_data_2015_2019)

# Print the new attributes for a specific year (e.g., 2015)
desired_year = 2015
print(f"Attributes for {desired_year}:")
print(getattr(endes_data_2015_2019, f'var_labels_{desired_year}'))
print(getattr(endes_data_2015_2019, f'value_labels_{desired_year}'))

9. Use `endes_data_2015_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

In [ ]:
key_columns = ['V201', 'V613', 'V715', 'V511']
result_columns = ['mean_total_children', 'mean_ideal_children', 'mean_hb_yr_educ', 'mean_first_marriage']

# Group by year and department, calculate the mean for the specified columns
mean_key_vars = endes_data_2015_2019.groupby(['year', 'V024'])[key_columns].agg('mean').reset_index()

# Rename the columns
mean_key_vars.columns = ['year', 'department'] + result_columns

# Print the resulting DataFrame
print(mean_key_vars)

10. Merge `mean_key_vars` with `endes_data_2015_2019`. Name this object `final_result`. **Hint: Use merge.**

In [ ]:
# Merge mean_key_vars with endes_data_2015_2019
final_result = pd.merge(endes_data_2015_2019, mean_key_vars, how='left', left_on=['year', 'V024'], right_on=['year', 'department'])

# Print the resulting DataFrame
print(final_result)