#ASSIGNMENT 3

In [1]:
pip install pyreadstat

Requirement already satisfied: pyreadstat in /Users/dylanrua/anaconda3/lib/python3.11/site-packages (1.2.6)
Requirement already satisfied: pandas>=1.2.0 in /Users/dylanrua/anaconda3/lib/python3.11/site-packages (from pyreadstat) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/dylanrua/anaconda3/lib/python3.11/site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/dylanrua/anaconda3/lib/python3.11/site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/dylanrua/anaconda3/lib/python3.11/site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/dylanrua/anaconda3/lib/python3.11/site-packages (from pandas>=1.2.0->pyreadstat) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/dylanrua/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install savReaderWriter

Requirement already satisfied: savReaderWriter in /Users/dylanrua/anaconda3/lib/python3.11/site-packages (3.4.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pyreadstat

In [4]:
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request

In [5]:
rec_1 = pyreadstat.read_sav( r"../../_data/endes/2019/REC0111.sav") 
rec_2 = pyreadstat.read_sav( r"../../_data/endes/2019/RE223132.sav")
rec_3 = pyreadstat.read_sav( r"../../_data/endes/2019/RE516171.sav")

rec_1

(          ID1             HHID              CASEID    V001  V002  V003  \
 0      2019.0        000100201        000100201  2     1.0   2.0   2.0
 1      2019.0        000100201        000100201  3     1.0   2.0   3.0
 2      2019.0        000102801        000102801  2     1.0  28.0   2.0
 3      2019.0        000102801        000102801  6     1.0  28.0   6.0
 4      2019.0        000104801        000104801  2     1.0  48.0   2.0
 ...       ...              ...                 ...     ...   ...   ...
 38330  2019.0        325406201        325406201  2  3254.0  62.0   2.0
 38331  2019.0        325406301        325406301  2  3254.0  63.0   2.0
 38332  2019.0        325407001        325407001  2  3254.0  70.0   2.0
 38333  2019.0        325407201        325407201  2  3254.0  72.0   2.0
 38334  2019.0        325407401        325407401  2  3254.0  74.0   2.0

          V004    V007    V008  V009  ...  QD333_4  QD333_5  QD333_6  UBIGEO  \
 0         1.0  2019.0  1434.0   4.0  ...      2.0      2.0      2.0  010101
 1         1.0  2019.0  1434.0   1.0  ...      2.0      2.0      2.0  010101
 2         1.0  2019.0  1434.0   6.0  ...      2.0      2.0      2.0  010101
 3         1.0  2019.0  1434.0   3.0  ...      2.0      2.0      2.0  010101
 4         1.0  2019.0  1434.0   5.0  ...      2.0      2.0      2.0  010101
 ...       ...     ...     ...   ...  ...      ...      ...      ...     ...
 38330  3254.0  2019.0  1440.0  12.0  ...      2.0      2.0      2.0  250401
 38331  3254.0  2019.0  1440.0   6.0  ...      2.0      2.0      2.0  250401
 38332  3254.0  2019.0  1440.0   7.0  ...      2.0      2.0      2.0  250401
 38333  3254.0  2019.0  1440.0  12.0  ...      2.0      2.0      2.0  250401
 38334  3254.0  2019.0  1440.0  10.0  ...      2.0      2.0      2.0  250401

         V022      V005  V190      V191  mujeres12a49  NCONGLOME
 0        3.0  154803.0   4.0  1.234450           2.0     7065.0
 1        3.0  154803.0   4.0  1.234450           0.0     7065.0
 2        3.0  154803.0   4.0  1.295611           2.0     7065.0
 3        3.0  154803.0   4.0  1.295611           2.0     7065.0
 4        3.0  154803.0   2.0 -0.256431           2.0     7065.0
 ...      ...       ...   ...       ...           ...        ...
 38330  249.0  244995.0   1.0 -1.750187           2.0    15783.0
 38331  249.0  244995.0   1.0 -1.676861           2.0    15783.0
 38332  249.0  459792.0   1.0 -1.585333           2.0    15783.0
 38333  249.0  459792.0   1.0 -1.650159           2.0    15783.0
 38334  249.0  244995.0   1.0 -1.644720           2.0    15783.0

 [38335 rows x 105 columns],
 <pyreadstat._readstat_parser.metadata_container at 0x106b01290>)

In [6]:
rec_2

(          ID1              CASEID  V201  V202  V203  V204  V205  V206  V207  \
 0      2019.0        000100201  2   2.0   1.0   1.0   0.0   0.0   0.0   0.0
 1      2019.0        000100201  3   0.0   0.0   0.0   0.0   0.0   0.0   0.0
 2      2019.0        000102801  2   3.0   1.0   2.0   0.0   0.0   0.0   0.0
 3      2019.0        000102801  6   3.0   1.0   0.0   2.0   0.0   0.0   0.0
 4      2019.0        000104801  2   3.0   1.0   2.0   0.0   0.0   0.0   0.0
 ...       ...                 ...   ...   ...   ...   ...   ...   ...   ...
 36917  2019.0        325406201  2   5.0   1.0   1.0   2.0   1.0   0.0   0.0
 36918  2019.0        325406301  2   5.0   2.0   2.0   0.0   1.0   0.0   0.0
 36919  2019.0        325407001  2   8.0   2.0   0.0   5.0   0.0   0.0   1.0
 36920  2019.0        325407201  2   2.0   1.0   0.0   0.0   0.0   1.0   0.0
 36921  2019.0        325407401  2   1.0   1.0   0.0   0.0   0.0   0.0   0.0

        V208  ...  V307_09  V307_10  V307_11  V307_12  V307_13  V307_14  \
 0       1.0  ...      NaN      NaN      NaN      NaN      NaN      NaN
 1       0.0  ...      NaN      NaN      NaN      NaN      NaN      NaN
 2       2.0  ...      0.0      0.0      NaN      NaN      NaN      NaN
 3       0.0  ...      NaN      NaN      NaN      NaN      NaN      NaN
 4       1.0  ...      NaN      NaN      NaN      NaN      NaN      NaN
 ...     ...  ...      ...      ...      ...      ...      ...      ...
 36917   1.0  ...      NaN      NaN      NaN      NaN      NaN      NaN
 36918   1.0  ...      0.0      1.0      NaN      NaN      NaN      NaN
 36919   0.0  ...      1.0      0.0      NaN      NaN      NaN      NaN
 36920   0.0  ...      NaN      NaN      NaN      NaN      NaN      NaN
 36921   1.0  ...      0.0      NaN      NaN      NaN      NaN      NaN

        V307_15  V307_16  QI302_05A  QI302_05B
 0          NaN      0.0        1.0        2.0
 1          NaN      NaN        NaN        NaN
 2          NaN      0.0        2.0        1.0
 3          NaN      NaN        2.0        2.0
 4          NaN      NaN        2.0        1.0
 ...        ...      ...        ...        ...
 36917      NaN      NaN        2.0        1.0
 36918      NaN      NaN        2.0        1.0
 36919      NaN      NaN        2.0        1.0
 36920      NaN      NaN        2.0        1.0
 36921      NaN      NaN        2.0        1.0

 [36922 rows x 176 columns],
 <pyreadstat._readstat_parser.metadata_container at 0x14c228bd0>)

In [7]:
rec_3

(          ID1              CASEID  V501  V502  V503  V504  V505  V506  V507  \
 0      2019.0        000100201  2   1.0   1.0   1.0   1.0   NaN   NaN   1.0
 1      2019.0        000102801  2   2.0   1.0   1.0   1.0   NaN   NaN  12.0
 2      2019.0        000102801  6   5.0   2.0   1.0   NaN   NaN   NaN   8.0
 3      2019.0        000104801  2   2.0   1.0   1.0   1.0   NaN   NaN  12.0
 4      2019.0        000113601  2   2.0   1.0   2.0   1.0   NaN   NaN  12.0
 ...       ...                 ...   ...   ...   ...   ...   ...   ...   ...
 33306  2019.0        325406201  2   2.0   1.0   2.0   1.0   NaN   NaN  12.0
 33307  2019.0        325406301  2   2.0   1.0   1.0   1.0   NaN   NaN  12.0
 33308  2019.0        325407001  2   2.0   1.0   1.0   1.0   NaN   NaN  11.0
 33309  2019.0        325407201  2   2.0   1.0   1.0   1.0   NaN   NaN   5.0
 33310  2019.0        325407401  2   2.0   1.0   1.0   1.0   NaN   NaN   6.0

          V508  ...  V743C  V743D  V743E  V743F  V744A  V744B  V744C  V744D  \
 0      2008.0  ...    1.0    2.0    1.0    4.0    0.0    0.0    0.0    0.0
 1      2011.0  ...    2.0    1.0    1.0    2.0    0.0    0.0    0.0    0.0
 2      1984.0  ...    NaN    NaN    NaN    NaN    0.0    0.0    0.0    0.0
 3      2009.0  ...    1.0    1.0    1.0    1.0    0.0    0.0    0.0    0.0
 4      2005.0  ...    1.0    1.0    2.0    4.0    0.0    0.0    0.0    0.0
 ...       ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
 33306  1985.0  ...    2.0    2.0    2.0    2.0    0.0    0.0    0.0    0.0
 33307  2002.0  ...    1.0    1.0    1.0    2.0    0.0    0.0    0.0    0.0
 33308  1986.0  ...    4.0    4.0    1.0    2.0    0.0    0.0    0.0    0.0
 33309  2008.0  ...    4.0    1.0    1.0    2.0    0.0    0.0    0.0    0.0
 33310  2013.0  ...    4.0    4.0    1.0    2.0    0.0    0.0    0.0    0.0

        V744E  V746
 0        0.0   1.0
 1        0.0   2.0
 2        0.0   NaN
 3        0.0   NaN
 4        0.0   2.0
 ...      ...   ...
 33306    0.0   NaN
 33307    0.0   NaN
 33308    0.0   NaN
 33309    0.0   NaN
 33310    0.0   NaN

 [33311 rows x 84 columns],
 <pyreadstat._readstat_parser.metadata_container at 0x151cb6a90>)

In [8]:
file_paths = [
    '../../_data/endes/2019/REC0111.sav',
    '../../_data/endes/2019/RE223132.sav',
    '../../_data/endes/2019/RE516171.sav']

file_names = ['rec_1', 'rec_2', 'rec_3']
var_labels = ['var_labels1', 'var_labels2', 'var_labels3']
value_labels = ['value_labels1', 'value_labels2', 'value_labels3']

# Initialize dictionaries to store dataframes and labels
dataframes = {}
variable_labels = {}
value_labels_dict = {}

# Loop through the files
for i, file_path in enumerate(file_paths):
    # Read the SPSS file
    df, meta = pyreadstat.read_sav(file_path)
    
    # Store the dataframe
    dataframes[file_names[i]] = df
    
    # Store variable labels
    variable_labels[var_labels[i]] = meta.column_labels
    
    # Store value labels
    value_labels_dict[value_labels[i]] = meta.variable_value_labels

# Access the imported data and labels
rec_1 = dataframes['rec_1']
var_labels1 = variable_labels['var_labels1']
value_labels1 = value_labels_dict['value_labels1']

rec_2 = dataframes['rec_2']
var_labels2 = variable_labels['var_labels2']
value_labels2 = value_labels_dict['value_labels2']

rec_3 = dataframes['rec_3']
var_labels3 = variable_labels['var_labels3']
value_labels3 = value_labels_dict['value_labels3']

print("rec_1 DataFrame:")
rec_1.head()

rec_1 DataFrame:

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,2.0,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,0.0,7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,2.0,2.0,2.0,010101,3.0,154803.0,2.0,-0.256431,2.0,7065.0

In [9]:
print("\nVariable Labels for rec_1:")
var_labels1

Variable Labels for rec_1:

['Año',
 'Identificación Cuestionario del Hogar',
 'Identificación Cuestionario Individual',
 'Conglomerado',
 'Número de vivienda',
 'Número de línea de entrevistada',
 'Unidad de área final',
 'Año de la entrevista',
 'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
 'Mes de nacimiento de la entrevistada',
 'Año de nacimiento de la entrevistada',
 'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
 'Edad actual - entrevistada',
 'Edad actual por grupos de 5 años',
 'Integridad de la información para la fecha de nacimiento',
 'Resultado entrevista individual',
 'Inicio del calendario, Codificación centenaria de mesesl CMC',
 'Columna del mes de la entrevista',
 'Duración del calendario',
 'Número de columnas de calendario',
 'Muestra alguna vez casada',
 'Unidad de muestreo primario - conglomerado',
 'Dominio de ejemplo - Departamento',
 'Región',
 'Tipo de lugar de residencia',
 'El lugar de residencia en el que se entrevistó - De Facto',
 'Número de visitas',
 'Identificación del entrevistador',
 'Identificador del digitador',
 'Supervisor de campo',
 'Editor de campo',
 'Editor de la oficina',
 'Selección final del área de probabilidad',
 'Número de orden del esposo',
 'Altitud del conglomerado en metros',
 'Selección de hogar para hemoglobina',
 'Selección para módulo de estatus de mujeres',
 'Selección para módulo de violencia domestica',
 'Código y fase del país',
 'Dia de nacimeinto de la entrevistada',
 'Región',
 'Tipo de lugar de residencia',
 'Lugar de residencia de la infancia',
 'Cuanto tiempo tiene viviendo continuamente en el lugar de residencia actual',
 'Tipo de lugar de residencia anteriormente',
 'Nivel educativo más alto',
 'Año/grado de educación más alto aprobado',
 'Fuente principal de abasteciemiento de agua potable que utilizan en su hogar para tomar o beber',
 'Tiempo para llegar a la fuente de agua',
 'Tipo de instalación sanitaria',
 'En su hogar tiene: electricidad',
 'En su hogar tiene: radio',
 'En su hogar tiene: televisión',
 'En su hogar tiene: refrigerador',
 'En su hogar tiene: bicicleta',
 'En su hogar tiene: motocicleta/motocar',
 'En su hogar tiene: coche/camión',
 'Material predominante del piso de la vivienda',
 'Material predominante de las paredes exteriores de la vivienda',
 'Material predominante del techo de la vivienda',
 'Religión',
 'Etnicidad',
 'Educación en años simples',
 'El lugar en el que se realizó la entrevista  De-facto',
 'Residente habitual o visitante',
 'Número de miembros del hogar',
 'Número de niños de 6 años de edad',
 'Número de mujeres de 15 a 49 años de edad elegibles en el hogar',
 'Región, residencia habitual De-jure',
 'Tipo de área de residencia De-jure',
 'Lugar de residencia De-jure',
 'Logro educativo',
 'Relación con el jefe del hogar',
 'Sexo del Jefe del Hogar',
 'Edad del jefe del hogar',
 'En su hogar tiene: teléfono',
 'Factor todas las mujeres - total',
 'Factor todas las mujeres - urbano/rural',
 'Factor todas las mujeres - regional',
 'Factor todas las mujeres - educación',
 'Factor todas las mujeres - índice de riqueza',
 'Alfabetización',
 'Alguna vez participó en un programa de alfabetización (no incluyendo la escuela primaria)',
 'Frecuencia de lectura de un periódico o revista',
 'Frecuencia de escuchar radio',
 'Frecuencia de ver televisión',
 'Baño compartido con otros hogares',
 'Tipo de combustible para cocinar',
 'Resultados de la prueba del yodo en la sal',
 'Número de viajes en los últimos 12 meses',
 'Afuera más de un mes en los últimos 12 meses',
 'Tipo de mosquitero que utilizo para dormir última noche',
 'Alguna dificultad o limitación permanente para ver, aún usando anteojos',
 'Alguna dificultad o limitación permanente para oir, aún usando audífonos',
 'Alguna dificultad o limitación permanente para hablar o comunicarse, aún usando la lengua de señas u otro',
 'Alguna dificultad o limitación permanente para moverse o caminar para usar brazos y/o piernas',
 'Alguna dificultad o limitación permanente para entender o aprender (concentrarse y recordarse)',
 'Alguna dificultad o limitación permanente para relacionarse con los demás, por sus pensamientos, sentimientos, emociones o conductas',
 'Código de Ubicación Gegráfica',
 'Estratos',
 'Factor de ponderacion',
 'Índice de riqueza',
 'Factor de puntuación del índice de riqueza (5 decimales)',
 'Mujeres de 12 a 49 años de edad',
 'Número de Conglomerado (proveniente del marco)']

In [10]:
columns_rec1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133']
columns_rec2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
columns_rec3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']

# Filtering selected columns for each dataset
rec1_1 = rec_1.loc[:, columns_rec1]
rec2_1 = rec_2.loc[:, columns_rec2]
rec3_1 = rec_3.loc[:, columns_rec3]

rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V024,V102,V120,V121,V122,V123,V124,V125,V127,V133
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0

In [11]:
rec2_1

,CASEID,V201,V218,V301,V302,V323,V323A,V325A,V326,V327,...,V363,V364,V367,V372,V372A,V375A,V376,V376A,V379,V380
0,000100201 2,2.0,2.0,0.0,3.0,NaN,NaN,NaN,22.0,5.0,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000100201 3,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,3.0,3.0,0.0,3.0,NaN,NaN,NaN,15.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000102801 6,3.0,3.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,23.0,24.0,NaN,NaN,NaN
4,000104801 2,3.0,3.0,0.0,3.0,NaN,NaN,NaN,13.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36917,325406201 2,5.0,5.0,0.0,3.0,NaN,NaN,NaN,13.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36918,325406301 2,5.0,5.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36919,325407001 2,8.0,7.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36920,325407201 2,2.0,1.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36921,325407401 2,1.0,1.0,0.0,3.0,NaN,NaN,NaN,13.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
rec3_1

,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000102801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,000102801 6,5.0,2.0,1.0,NaN,NaN,NaN,8.0,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,000104801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,000113601 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,325406201 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
33307,325406301 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
33308,325407001 2,2.0,1.0,1.0,1.0,NaN,NaN,11.0,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
33309,325407201 2,2.0,1.0,1.0,1.0,NaN,NaN,5.0,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
33310,325407401 2,2.0,1.0,1.0,1.0,NaN,NaN,6.0,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

In [13]:
# Select columns for rec1
selected_columns_rec1 = [
    'CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010',
    'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133'
]

# Create a new dataframe for rec1 with selected columns
rec1_1 = rec_1.loc[:, selected_columns_rec1]

# Update the variable labels object for rec1
new_var_labels1 = variable_labels['var_labels1'][:len(selected_columns_rec1)]

# Update the value labels object for rec1
new_value_labels1 = {col: value_labels1.get(col, {}) for col in selected_columns_rec1}

# Update the dataframes and labels dictionaries
dataframes['rec1_1'] = rec1_1
variable_labels['new_var_labels1'] = new_var_labels1
value_labels_dict['new_value_labels1'] = new_value_labels1

In [14]:
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V024,V102,V120,V121,V122,V123,V124,V125,V127,V133
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0

In [15]:
# Select columns for rec2
selected_columns_rec2 = [
    'CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327',
    'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 
    'V375A', 'V376', 'V376A', 'V379', 'V380'
]

# Create a new dataframe for rec1 with selected columns
rec2_1 = rec_2.loc[:, selected_columns_rec2]

# Update the variable labels object for rec1
new_var_labels2 = variable_labels['var_labels2'][:len(selected_columns_rec2)]

# Update the value labels object for rec1
new_value_labels2 = {col: value_labels2.get(col, {}) for col in selected_columns_rec2}

# Update the dataframes and labels dictionaries
dataframes['rec2_1'] = rec2_1
variable_labels['new_var_labels2'] = new_var_labels2
value_labels_dict['new_value_labels2'] = new_value_labels2

In [16]:
rec2_1

,CASEID,V201,V218,V301,V302,V323,V323A,V325A,V326,V327,...,V363,V364,V367,V372,V372A,V375A,V376,V376A,V379,V380
0,000100201 2,2.0,2.0,0.0,3.0,NaN,NaN,NaN,22.0,5.0,...,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000100201 3,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000102801 2,3.0,3.0,0.0,3.0,NaN,NaN,NaN,15.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000102801 6,3.0,3.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,23.0,24.0,NaN,NaN,NaN
4,000104801 2,3.0,3.0,0.0,3.0,NaN,NaN,NaN,13.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36917,325406201 2,5.0,5.0,0.0,3.0,NaN,NaN,NaN,13.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36918,325406301 2,5.0,5.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36919,325407001 2,8.0,7.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36920,325407201 2,2.0,1.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36921,325407401 2,1.0,1.0,0.0,3.0,NaN,NaN,NaN,13.0,1.0,...,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Select columns for rec3
selected_columns_rec3 = [
    'CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509',
    'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715'
]

# Create a new dataframe for rec1 with selected columns
rec3_1 = rec_3.loc[:, selected_columns_rec3]

# Update the variable labels object for rec1
new_var_labels3 = variable_labels['var_labels3'][:len(selected_columns_rec3)]

# Update the value labels object for rec1
new_value_labels3 = {col: value_labels3.get(col, {}) for col in selected_columns_rec3}

# Update the dataframes and labels dictionaries
dataframes['rec3_1'] = rec3_1
variable_labels['new_var_labels3'] = new_var_labels3
value_labels_dict['new_value_labels3'] = new_value_labels3

In [18]:
rec3_1

,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000102801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,000102801 6,5.0,2.0,1.0,NaN,NaN,NaN,8.0,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,000104801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,000113601 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,325406201 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
33307,325406301 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
33308,325407001 2,2.0,1.0,1.0,1.0,NaN,NaN,11.0,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
33309,325407201 2,2.0,1.0,1.0,1.0,NaN,NaN,5.0,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
33310,325407401 2,2.0,1.0,1.0,1.0,NaN,NaN,6.0,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

In [19]:
# Exercise 3

In [22]:
#Generate a new column for rec1_1 named as "year"
#Use loc to add a column
rec1_1.loc[:, 'year'] = 2019

# We must update variable labels dictionary 
new_var_labels1.append({'year': "Year of the survey"})

In [23]:
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V102,V120,V121,V122,V123,V124,V125,V127,V133,year
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0,2019
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0,2019
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0,2019
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0,2019
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0,2019
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0,2019
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0,2019
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0,2019

In [24]:
# Exercise 4

In [28]:
#merge rec1_1, rec2_1 and rec3_1 using CASEID
#use a method chaining to merge the dataframes successively. This for performing a intern joins.

In [29]:
endes_2019 = pd.merge(rec1_1, rec2_1, on ='CASEID').merge(rec3_1, on ='CASEID')

In [30]:
print(endes_2019)

                   CASEID V000    V001   V002  V003    V004    V007    V008  \
0            000100201  2  PE6     1.0    2.0   2.0     1.0  2019.0  1434.0
1            000102801  2  PE6     1.0   28.0   2.0     1.0  2019.0  1434.0
2            000102801  6  PE6     1.0   28.0   6.0     1.0  2019.0  1434.0
3            000104801  2  PE6     1.0   48.0   2.0     1.0  2019.0  1434.0
4            000113601  2  PE6     1.0  136.0   2.0     1.0  2019.0  1434.0
...                   ...  ...     ...    ...   ...     ...     ...     ...
33306        325406201  2  PE6  3254.0   62.0   2.0  3254.0  2019.0  1440.0
33307        325406301  2  PE6  3254.0   63.0   2.0  3254.0  2019.0  1440.0
33308        325407001  2  PE6  3254.0   70.0   2.0  3254.0  2019.0  1440.0
33309        325407201  2  PE6  3254.0   72.0   2.0  3254.0  2019.0  1440.0
33310        325407401  2  PE6  3254.0   74.0   2.0  3254.0  2019.0  1440.0

       V009    V010  ...    V508    V509  V510  V511  V512  V513  V525  V613  \
0       4.0  1986.0  ...  2008.0  1297.0   1.0  21.0  11.0   3.0  17.0   2.0
1       6.0  1983.0  ...  2011.0  1344.0   1.0  28.0   7.0   2.0  18.0   3.0
2       3.0  1970.0  ...  1984.0  1016.0   5.0  14.0  34.0   7.0  14.0   0.0
3       5.0  1991.0  ...  2009.0  1320.0   1.0  18.0   9.0   2.0  15.0   2.0
4      11.0  1988.0  ...  2005.0  1272.0   1.0  17.0  13.0   3.0  15.0   2.0
...     ...     ...  ...     ...     ...   ...   ...   ...   ...   ...   ...
33306  12.0  1971.0  ...  1985.0  1032.0   1.0  14.0  34.0   7.0  12.0   3.0
33307   6.0  1988.0  ...  2002.0  1236.0   1.0  14.0  17.0   4.0  12.0   3.0
33308   7.0  1973.0  ...  1986.0  1043.0   1.0  13.0  33.0   7.0  12.0   4.0
33309  12.0  1994.0  ...  2008.0  1301.0   1.0  13.0  11.0   3.0  13.0   2.0
33310  10.0  1996.0  ...  2013.0  1362.0   1.0  16.0   6.0   2.0  15.0   2.0

       V714  V715
0       1.0  11.0
1       1.0  14.0
2       0.0   6.0
3       0.0   6.0
4       1.0  16.0
...     ...   ...
33306   0.0   5.0
33307   0.0   7.0
33308   0.0   5.0
33309   0.0  11.0
33310   0.0  11.0

[33311 rows x 64 columns]

In [31]:
# Exercise 5

In [32]:
#Unifing all the new_var_labels in one object and new_value_labels in another one object.
var_labels = [new_var_labels1]
var_labels.extend(new_var_labels2)
var_labels.extend(new_var_labels3)
var_labels

[['Año',
  'Identificación Cuestionario del Hogar',
  'Identificación Cuestionario Individual',
  'Conglomerado',
  'Número de vivienda',
  'Número de línea de entrevistada',
  'Unidad de área final',
  'Año de la entrevista',
  'Fecha de la entrevista, Codificación centenaria de meses (CMC)',
  'Mes de nacimiento de la entrevistada',
  'Año de nacimiento de la entrevistada',
  'Fecha de nacimiento, Codificación centenaria de meses (CMC)',
  'Edad actual - entrevistada',
  'Edad actual por grupos de 5 años',
  'Integridad de la información para la fecha de nacimiento',
  'Resultado entrevista individual',
  'Inicio del calendario, Codificación centenaria de mesesl CMC',
  'Columna del mes de la entrevista',
  'Duración del calendario',
  'Número de columnas de calendario',
  'Muestra alguna vez casada',
  'Unidad de muestreo primario - conglomerado',
  {'year': 'Year of the survey'}],
 'Año',
 'Identificación Cuestionario Individual',
 'Total de niños nacidos',
 '¿Cuántos hijos viven con usted?',
 '¿Cuántas hijas viven con usted?',
 '¿Cuántos hijos no están viviendo con usted?',
 '¿Cuántas hijas no están viviendo con usted?',
 '¿Cuántos hijos han muerto?',
 '¿Cuántas hijas han muerto?',
 'Nacimientos en los últimos cinco años',
 'Nacimientos del año pasado',
 'Nacimientos en el mes de entrevista',
 'Fecha del primer nacimiento, Codificación centenaria de meses (CMC)',
 'Edad del entrevistado al primer nacimiento',
 'Actualmente embarazada',
 'Duración del embarazo actual',
 'Tiempo transcurrido desde la última menstruación',
 'Menstruado en las últimas seis semanas',
 'Conocimiento del ciclo ovulatorio',
 'Número de niños vivos',
 'Número total de hijos vivos incluido el embarazo actual',
 'Número total de hijos vivos incluido el embarazo actual (6, si es mayor de 6)',
 'Intervalo entre la primera unión y primer nacimiento en meses',
 'Intervalo entre el último nacimiento y la fecha de la entrevista en meses',
 'Integridad de la información relativa a la fecha de la concepción del embarazo actual',
 'Año',
 'Identificación Cuestionario Individual',
 'Estado civil actual',
 'Actualmente, antes o nunca sacada',
 'Usted ha estado casada o conviviendo solo una vez, más de una vez',
 'Su esposo/compañer vive en el hogar o vive en otro lugar',
 'Número de otras esposas',
 'Número de rango de la esposa',
 'Mes - Primer matrimonio',
 'Año - Primer matrimonio',
 'Fecha del primer matrimonio (CMC)',
 'Integridad de la información para la fecha de inicio del primer matrimonio o unión',
 'Edad al primer matrimonio',
 'Años desde el primer matrimonio',
 'Duración del matrimonio (agrupado)',
 'Edad en la primera relación sexual',
 'Tiempo transcurrido desde la última relación sexual',
 'Tiempo transcurrido desde la última relación sexual en días']

In [33]:
#Name these two objects as var_labels and value_labels.
value_labels = [new_value_labels1]
value_labels.extend(new_value_labels2)
value_labels.extend(new_value_labels3)
value_labels

[{'CASEID': {},
  'V000': {},
  'V001': {},
  'V002': {},
  'V003': {},
  'V004': {},
  'V007': {},
  'V008': {},
  'V009': {},
  'V010': {},
  'V011': {},
  'V012': {},
  'V024': {1.0: 'Amazonas',
   2.0: 'Ancash',
   3.0: 'Apurimac',
   4.0: 'Arequipa',
   5.0: 'Ayacucho',
   6.0: 'Cajamarca',
   7.0: 'Callao',
   8.0: 'Cusco',
   9.0: 'Huancavelica',
   10.0: ' Huanuco',
   11.0: ' Ica',
   12.0: ' Junin',
   13.0: ' La Libertad',
   14.0: ' Lambayeque',
   15.0: ' Lima',
   16.0: ' Loreto',
   17.0: ' Madre de Dios',
   18.0: ' Moquegua',
   19.0: ' Pasco',
   20.0: ' Piura',
   21.0: ' Puno',
   22.0: ' San Martin',
   23.0: ' Tacna',
   24.0: ' Tumbes',
   25.0: ' Ucayali'},
  'V102': {1.0: 'Urbano', 2.0: 'Rural'},
  'V120': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
  'V121': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
  'V122': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
  'V123': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
  'V124': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
  'V125': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'},
  'V127': {11.0: 'Tierra/arena',
   21.0: 'Madera (entablados)',
   31.0: 'Parquet o madera pulida',
   32.0: 'Làminas asfálticas, vinílicos o similares',
   33.0: 'Losetas, terrazos o similares',
   34.0: 'Cemento/ladrillo',
   96.0: 'Pona',
   97.0: 'Otro(pona)'},
  'V133': {97.0: 'Inconsistente'}},
 'CASEID',
 'V201',
 'V218',
 'V301',
 'V302',
 'V323',
 'V323A',
 'V325A',
 'V326',
 'V327',
 'V337',
 'V359',
 'V360',
 'V361',
 'V362',
 'V363',
 'V364',
 'V367',
 'V372',
 'V372A',
 'V375A',
 'V376',
 'V376A',
 'V379',
 'V380',
 'CASEID',
 'V501',
 'V502',
 'V503',
 'V504',
 'V505',
 'V506',
 'V507',
 'V508',
 'V509',
 'V510',
 'V511',
 'V512',
 'V513',
 'V525',
 'V613',
 'V714',
 'V715']

In [34]:
#Generate new attributes for endes_2019 that is named as var_labels and value_labels.
#Using update
endes_2019.update({'var_labels': var_labels, 'value_labels': value_labels})