# 1 Assignment 4

In [2]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\usuario\anaconda3\lib\site-packages (1.2.6)
Requirement already satisfied: pandas>=1.2.0 in c:\users\usuario\anaconda3\lib\site-packages (from pyreadstat) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

In [3]:
import os
import os
import pickle
import pandas as pd
import numpy as np
import urllib.request
import pyreadstat

1. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their variables and values labels from this path `"../../_data/endes/2019"`. The name of imported files should be named as `rec_1`, `rec_2` and `rec_3` for files `REC0111.sav`, `RE223132.sav` and `RE516171.sav` respectively. The name of the variable and value labels should be `var_labels1` and `value_labels1` for `rec1`, `var_labels2` and `value_labels2` for `rec2`, and `var_labels3` and `value_labels3` for `rec3`. **Hint: See the section 3.3.4 of [the lecture 3](https://github.com/alexanderquispe/Diplomado_PUCP/blob/main/Lecture_3/Lecture_3.ipynb)**

In [8]:
from IPython.display import display, HTML

In [9]:
from tabulate import tabulate

In [4]:
# Here we are accessing the file paths

In [10]:
file_paths = [
    "../../_data/endes/2019/REC0111.sav",
    "../../_data/endes/2019/RE223132.sav",
    "../../_data/endes/2019/RE516171.sav"
]

In [11]:
# Here we are designating the names for the DataFrames

In [12]:
dataframe_names = ['rec_1', 'rec_2', 'rec_3']

In [8]:
# Here we are designating the names for the variable and value labels

In [13]:
var_labels_names = ['var_labels1', 'var_labels2', 'var_labels3']
value_labels_names = ['value_labels1', 'value_labels2', 'value_labels3']

In [10]:
# Here we are creating the dictionaries to store DataFrames and tags

In [14]:
dataframes = {}
var_labels = {}
value_labels = {}

In [12]:
# Here we are importing and assigning names using for

In [24]:
for file_path, df_name, var_name, value_name in zip(file_paths, dataframe_names, var_labels_names, value_labels_names):
    df, meta = pyreadstat.read_sav(file_path, apply_value_formats=True)

In [17]:
# Here we are assigning names to the variables and data

In [16]:
    df.name = df_name
    var_labels[var_name] = meta.column_labels
    value_labels[value_name] = meta.variable_value_labels

In [18]:
# Here we are storing DataFrames

In [17]:
    dataframes[df_name] = df

2. Select the following columns for each data set:
|Data|Columns|
|---|---|
|rec1| CASEID, V000, V001, V002, V003, V004, V007, V008, V009, V010, V011, V012, V024, V102, V120, V121, V122, V123, V124, V125, V127, V133 |
|rec2| CASEID, V201, V218, V301, V302, V323, V323A, V325A, V326, V327, V337, V359, V360, V361, V362, V363, V364, V367, V372, V372A, V375A, V376, V376A, V379, V380 |
|rec3| CASEID, V501, V502, V503, V504, V505, V506, V507, V508, V509, V510, V511, V512, V513, V525, V613, V714, V715 |


Additioanlly, you should update the variables and value labels objects. They must have information only for the selected columns. The new dataframes should be name as `rec1_1`, `rec2_1`, and `rec3_1`. The new varible labels objects should be named as `new_var_labels1`, `new_var_labels2`, and `new_var_labels3`. The new value labels objects should be named as `new_value_labels1`, `new_value_labels2`, and `new_value_labels3` **Hint: Use the `loc` and column names to filter, `for loop`,   and [this link](https://stackoverflow.com/questions/3420122/filter-dict-to-contain-only-certain-keys) to update the var and value dictionary.**

In [28]:
# Here we are accessing the paths of the desired files and names

In [74]:
file_paths = ["../../_data/endes/2019/REC0111.sav", "../../_data/endes/2019/RE223132.sav", "../../_data/endes/2019/RE516171.sav"]
dataframe_names = ["rec_1", "rec_2", "rec_3"]
var_labels_names = ["new_var_labels1", "new_var_labels2", "new_var_labels3"]
value_labels_names = ["new_value_labels1", "new_value_labels2", "new_value_labels3"]

In [30]:
# Here we are creating dictionaries to store the DataFrames and tags

In [75]:
dataframes = {}
var_labels = {}
value_labels = {}

In [76]:
print(dataframes)

{}

In [34]:
# Here we are reading the sav file

In [41]:
for file_path, df_name, var_name, value_name in zip(file_paths, dataframe_names, var_labels_names, value_labels_names):
    
    df, meta = pyreadstat.read_sav(file_path, apply_value_formats=True)

In [39]:
# Here we are printing the columns available in the original data set

In [42]:
    print(f"\nColumnas disponibles en {df_name}:\n{df.columns}\n")

Columnas disponibles en rec_3:
Index(['ID1', 'CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507',
       'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V527', 'V528',
       'V529', 'V530', 'V531', 'V532', 'V535', 'V536', 'V537', 'V538', 'V539',
       'V540', 'V541', 'V602', 'V603', 'V604', 'V605', 'V613', 'V614', 'V616',
       'V621', 'V623', 'V624', 'V625', 'V626', 'V627', 'V628', 'V629', 'V631',
       'V632', 'V633A', 'V633B', 'V633C', 'V633D', 'V633E', 'V633F', 'V633G',
       'V634', 'V701', 'V702', 'V704', 'V705', 'V714', 'V714A', 'V715', 'V716',
       'V717', 'V719', 'V721', 'V729', 'V730', 'V731', 'V732', 'V739', 'V740',
       'V741', 'V743A', 'V743B', 'V743C', 'V743D', 'V743E', 'V743F', 'V744A',
       'V744B', 'V744C', 'V744D', 'V744E', 'V746'],
      dtype='object')

In [43]:
# Here we are selecting the desired columns

In [44]:
    selected_columns = df.columns

In [45]:
    df = df[selected_columns]

In [46]:
# Here we are updating the DataFrames

In [47]:
    dataframes[df_name] = df

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,2.0,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,0.0,7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,2.0,2.0,2.0,010101,3.0,154803.0,2.0,-0.256431,2.0,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.750187,2.0,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.676861,2.0,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,2.0,2.0,2.0,250401,249.0,459792.0,1.0,-1.585333,2.0,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,2.0,2.0,2.0,250401,249.0,459792.0,1.0,-1.650159,2.0,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.644720,2.0,15783.0

In [48]:
# Here we are filtering the variable labels and values

In [51]:
    var_labels[var_name] = {var: meta.variable_to_label[var] for var in selected_columns if var in meta.variable_to_label}
    value_labels[value_name] = {val: meta.value_labels[val] for val in selected_columns if val in meta.value_labels}

In [ ]:
# Here we are showing the results

In [52]:
for df_name, df in dataframes.items():
    print(f"\nDataFrame {df_name}:\n{df.head()}\n")

DataFrame rec_3:
      ID1              CASEID             V501                  V502  \
0  2019.0        000100201  2           Casado    Actualmente casada
1  2019.0        000102801  2  Viviendo juntos    Actualmente casada
2  2019.0        000102801  6  No viven juntos  Anteriormente casada
3  2019.0        000104801  2  Viviendo juntos    Actualmente casada
4  2019.0        000113601  2  Viviendo juntos    Actualmente casada

             V503           V504 V505 V506  V507    V508  ...  \
0         Una vez  Vive con ella  NaN  NaN   1.0  2008.0  ...
1         Una vez  Vive con ella  NaN  NaN  12.0  2011.0  ...
2         Una vez            NaN  NaN  NaN   8.0  1984.0  ...
3         Una vez  Vive con ella  NaN  NaN  12.0  2009.0  ...
4  Mas de una vez  Vive con ella  NaN  NaN  12.0  2005.0  ...

                             V743C                            V743D  \
0                     Entrevistada  Entrevistada y esposo/compañero
1  Entrevistada y esposo/compañero                     Entrevistada
2                              NaN                              NaN
3                     Entrevistada                     Entrevistada
4                     Entrevistada                     Entrevistada

                             V743E                            V743F V744A  \
0                     Entrevistada                 Esposo/compañero    No
1                     Entrevistada  Entrevistada y esposo/compañero    No
2                              NaN                              NaN    No
3                     Entrevistada                     Entrevistada    No
4  Entrevistada y esposo/compañero                 Esposo/compañero    No

  V744B V744C V744D V744E          V746
0    No    No    No    No    Más que el
1    No    No    No    No  Menos que el
2    No    No    No    No           NaN
3    No    No    No    No           NaN
4    No    No    No    No  Menos que el

[5 rows x 84 columns]

In [53]:
for var_name, labels in var_labels.items():
    print(f"\nVariable Labels {var_name}:\n{labels}\n")

Variable Labels new_var_labels3:
{'V501': 'labels0', 'V502': 'labels1', 'V503': 'labels2', 'V504': 'labels3', 'V505': 'labels4', 'V506': 'labels5', 'V510': 'labels6', 'V513': 'labels7', 'V525': 'labels8', 'V527': 'labels9', 'V528': 'labels10', 'V529': 'labels11', 'V530': 'labels12', 'V531': 'labels13', 'V532': 'labels14', 'V535': 'labels15', 'V536': 'labels16', 'V537': 'labels17', 'V538': 'labels18', 'V539': 'labels19', 'V540': 'labels20', 'V541': 'labels21', 'V602': 'labels22', 'V603': 'labels23', 'V604': 'labels24', 'V605': 'labels25', 'V613': 'labels26', 'V614': 'labels27', 'V616': 'labels28', 'V621': 'labels29', 'V623': 'labels30', 'V624': 'labels31', 'V625': 'labels32', 'V626': 'labels33', 'V627': 'labels34', 'V628': 'labels35', 'V629': 'labels36', 'V631': 'labels37', 'V632': 'labels38', 'V633A': 'labels39', 'V633B': 'labels40', 'V633C': 'labels41', 'V633D': 'labels42', 'V633E': 'labels43', 'V633F': 'labels44', 'V633G': 'labels45', 'V634': 'labels46', 'V701': 'labels47', 'V702': 'labels48', 'V704': 'labels49', 'V705': 'labels50', 'V714': 'labels51', 'V714A': 'labels52', 'V715': 'labels53', 'V716': 'labels54', 'V717': 'labels55', 'V719': 'labels56', 'V721': 'labels57', 'V729': 'labels58', 'V730': 'labels59', 'V731': 'labels60', 'V732': 'labels61', 'V739': 'labels62', 'V740': 'labels63', 'V741': 'labels64', 'V743A': 'labels65', 'V743B': 'labels66', 'V743C': 'labels67', 'V743D': 'labels68', 'V743E': 'labels69', 'V743F': 'labels70', 'V744A': 'labels71', 'V744B': 'labels72', 'V744C': 'labels73', 'V744D': 'labels74', 'V744E': 'labels75', 'V746': 'labels76'}

In [54]:
for value_name, labels in value_labels.items():
    print(f"\nValue Labels {value_name}:\n{labels}\n")

Value Labels new_value_labels3:
{}

3. Generate a new column for `rec1_1` named as `year`. It should be equal to `2019`. Also, you must update this new variable for the `var_labels` dictionary. Generate a new key for `new_var_labels1` and the value for this key should be **"Year of the survey"** **Hint: Use `loc` and `update` method.**

In [8]:
rec_1, meta = pyreadstat.read_sav('../../_data/endes/2019/REC0111.sav')
rec_1

,ID1,HHID,CASEID,V001,V002,V003,V004,V007,V008,V009,...,QD333_4,QD333_5,QD333_6,UBIGEO,V022,V005,V190,V191,mujeres12a49,NCONGLOME
0,2019.0,000100201,000100201 2,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,2.0,7065.0
1,2019.0,000100201,000100201 3,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.234450,0.0,7065.0
2,2019.0,000102801,000102801 2,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
3,2019.0,000102801,000102801 6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,...,2.0,2.0,2.0,010101,3.0,154803.0,4.0,1.295611,2.0,7065.0
4,2019.0,000104801,000104801 2,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,...,2.0,2.0,2.0,010101,3.0,154803.0,2.0,-0.256431,2.0,7065.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,2019.0,325406201,325406201 2,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.750187,2.0,15783.0
38331,2019.0,325406301,325406301 2,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.676861,2.0,15783.0
38332,2019.0,325407001,325407001 2,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,...,2.0,2.0,2.0,250401,249.0,459792.0,1.0,-1.585333,2.0,15783.0
38333,2019.0,325407201,325407201 2,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,...,2.0,2.0,2.0,250401,249.0,459792.0,1.0,-1.650159,2.0,15783.0
38334,2019.0,325407401,325407401 2,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,...,2.0,2.0,2.0,250401,249.0,244995.0,1.0,-1.644720,2.0,15783.0

In [44]:
# Assuming you have already run the code to import and store the dataframes

In [9]:
rec_1['year'] = 2019

In [11]:
rec1_1=rec_1.loc[ :, ["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"]]
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V024,V102,V120,V121,V122,V123,V124,V125,V127,V133
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0

In [10]:
columns_rec1 = ['CASEID', 'V000', 'V001', 'V002', 'V003', 'V004', 'V007', 'V008', 'V009', 'V010', 'V011', 'V012', 'V024', 'V102', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V127', 'V133']
columns_rec2 = ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']
columns_rec3 = ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']

In [34]:
var_labels1= meta.variable_value_labels

In [ ]:

# Update the variable labels dictionary (var_labels1)

In [35]:
new_var_labels1 = {key: var_labels1.get(key, '') for key in columns_rec1}

In [36]:
new_var_labels1.update({'year': 'Year of the survey'})

In [37]:
print(rec_1.head())

      ID1             HHID              CASEID  V001  V002  V003  V004  \
0  2019.0        000100201        000100201  2   1.0   2.0   2.0   1.0
1  2019.0        000100201        000100201  3   1.0   2.0   3.0   1.0
2  2019.0        000102801        000102801  2   1.0  28.0   2.0   1.0
3  2019.0        000102801        000102801  6   1.0  28.0   6.0   1.0
4  2019.0        000104801        000104801  2   1.0  48.0   2.0   1.0

     V007    V008  V009  ...  QD333_5  QD333_6  UBIGEO  V022      V005  V190  \
0  2019.0  1434.0   4.0  ...      2.0      2.0  010101   3.0  154803.0   4.0
1  2019.0  1434.0   1.0  ...      2.0      2.0  010101   3.0  154803.0   4.0
2  2019.0  1434.0   6.0  ...      2.0      2.0  010101   3.0  154803.0   4.0
3  2019.0  1434.0   3.0  ...      2.0      2.0  010101   3.0  154803.0   4.0
4  2019.0  1434.0   5.0  ...      2.0      2.0  010101   3.0  154803.0   2.0

       V191  mujeres12a49  NCONGLOME  year
0  1.234450           2.0     7065.0  2019
1  1.234450           0.0     7065.0  2019
2  1.295611           2.0     7065.0  2019
3  1.295611           2.0     7065.0  2019
4 -0.256431           2.0     7065.0  2019

[5 rows x 106 columns]

In [38]:
print(new_var_labels1)

{'CASEID': '', 'V000': '', 'V001': '', 'V002': '', 'V003': '', 'V004': '', 'V007': '', 'V008': '', 'V009': '', 'V010': '', 'V011': '', 'V012': '', 'V024': {1.0: 'Amazonas', 2.0: 'Ancash', 3.0: 'Apurimac', 4.0: 'Arequipa', 5.0: 'Ayacucho', 6.0: 'Cajamarca', 7.0: 'Callao', 8.0: 'Cusco', 9.0: 'Huancavelica', 10.0: ' Huanuco', 11.0: ' Ica', 12.0: ' Junin', 13.0: ' La Libertad', 14.0: ' Lambayeque', 15.0: ' Lima', 16.0: ' Loreto', 17.0: ' Madre de Dios', 18.0: ' Moquegua', 19.0: ' Pasco', 20.0: ' Piura', 21.0: ' Puno', 22.0: ' San Martin', 23.0: ' Tacna', 24.0: ' Tumbes', 25.0: ' Ucayali'}, 'V102': {1.0: 'Urbano', 2.0: 'Rural'}, 'V120': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'}, 'V121': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'}, 'V122': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'}, 'V123': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'}, 'V124': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'}, 'V125': {0.0: 'No', 1.0: 'Si', 7.0: 'No es residente habitual'}, 'V127': {11.0: 'Tierra/arena', 21.0: 'Madera (entablados)', 31.0: 'Parquet o madera pulida', 32.0: 'Làminas asfálticas, vinílicos o similares', 33.0: 'Losetas, terrazos o similares', 34.0: 'Cemento/ladrillo', 96.0: 'Pona', 97.0: 'Otro(pona)'}, 'V133': {97.0: 'Inconsistente'}, 'year': 'Year of the survey'}

4. Merge `rec1_1`, `rec2_1`, and `rec3_1` using **CASEID**. Name this new object as `endes_2019`. **Hint: Use [this link](https://stackoverflow.com/questions/53645882/pandas-merging-101)**

In [15]:
rec_2, meta = pyreadstat.read_sav('../../_data/endes/2019/RE223132.sav')
rec_2

,ID1,CASEID,V201,V202,V203,V204,V205,V206,V207,V208,...,V307_09,V307_10,V307_11,V307_12,V307_13,V307_14,V307_15,V307_16,QI302_05A,QI302_05B
0,2019.0,000100201 2,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,2.0
1,2019.0,000100201 3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.0,000102801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,2.0,1.0
3,2019.0,000102801 6,3.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
4,2019.0,000104801 2,3.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36917,2019.0,325406201 2,5.0,1.0,1.0,2.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36918,2019.0,325406301 2,5.0,2.0,2.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36919,2019.0,325407001 2,8.0,2.0,0.0,5.0,0.0,0.0,1.0,0.0,...,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36920,2019.0,325407201 2,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
36921,2019.0,325407401 2,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [16]:
rec_3, meta = pyreadstat.read_sav('../../_data/endes/2019/RE516171.sav')
rec_3

,ID1,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,...,V743C,V743D,V743E,V743F,V744A,V744B,V744C,V744D,V744E,V746
0,2019.0,000100201 2,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2008.0,...,1.0,2.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2019.0,000102801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2011.0,...,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0
2,2019.0,000102801 6,5.0,2.0,1.0,NaN,NaN,NaN,8.0,1984.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
3,2019.0,000104801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2009.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2019.0,000113601 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,2005.0,...,1.0,1.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,2019.0,325406201 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,1985.0,...,2.0,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
33307,2019.0,325406301 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2002.0,...,1.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
33308,2019.0,325407001 2,2.0,1.0,1.0,1.0,NaN,NaN,11.0,1986.0,...,4.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
33309,2019.0,325407201 2,2.0,1.0,1.0,1.0,NaN,NaN,5.0,2008.0,...,4.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
33310,2019.0,325407401 2,2.0,1.0,1.0,1.0,NaN,NaN,6.0,2013.0,...,4.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN

In [12]:
rec1_1=rec_1.loc[ :, ["CASEID", "V000", "V001", "V002", "V003", "V004", "V007", "V008", "V009", "V010", "V011", "V012", "V024", "V102", "V120", "V121", "V122", "V123", "V124", "V125", "V127", "V133"]]
rec1_1

,CASEID,V000,V001,V002,V003,V004,V007,V008,V009,V010,...,V024,V102,V120,V121,V122,V123,V124,V125,V127,V133
0,000100201 2,PE6,1.0,2.0,2.0,1.0,2019.0,1434.0,4.0,1986.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,16.0
1,000100201 3,PE6,1.0,2.0,3.0,1.0,2019.0,1434.0,1.0,2007.0,...,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,33.0,6.0
2,000102801 2,PE6,1.0,28.0,2.0,1.0,2019.0,1434.0,6.0,1983.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,16.0
3,000102801 6,PE6,1.0,28.0,6.0,1.0,2019.0,1434.0,3.0,1970.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,33.0,4.0
4,000104801 2,PE6,1.0,48.0,2.0,1.0,2019.0,1434.0,5.0,1991.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38330,325406201 2,PE6,3254.0,62.0,2.0,3254.0,2019.0,1440.0,12.0,1971.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,4.0
38331,325406301 2,PE6,3254.0,63.0,2.0,3254.0,2019.0,1440.0,6.0,1988.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,6.0
38332,325407001 2,PE6,3254.0,70.0,2.0,3254.0,2019.0,1440.0,7.0,1973.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,3.0
38333,325407201 2,PE6,3254.0,72.0,2.0,3254.0,2019.0,1440.0,12.0,1994.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0
38334,325407401 2,PE6,3254.0,74.0,2.0,3254.0,2019.0,1440.0,10.0,1996.0,...,25.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,96.0,9.0

In [22]:
rec2_1=rec_2.loc[ :, ['CASEID', 'V201', 'V218', 'V301', 'V302', 'V323', 'V323A', 'V325A', 'V326', 'V327', 'V337', 'V359', 'V360', 'V361', 'V362', 'V363', 'V364', 'V367', 'V372', 'V372A', 'V375A', 'V376', 'V376A', 'V379', 'V380']]

In [23]:
print(rec2_1)

                   CASEID  V201  V218  V301  V302  V323  V323A  V325A  V326  \
0            000100201  2   2.0   2.0   0.0   3.0   NaN    NaN    NaN  22.0
1            000100201  3   0.0   0.0   NaN   NaN   NaN    NaN    NaN   NaN
2            000102801  2   3.0   3.0   0.0   3.0   NaN    NaN    NaN  15.0
3            000102801  6   3.0   3.0   0.0   2.0   NaN    NaN    NaN   NaN
4            000104801  2   3.0   3.0   0.0   3.0   NaN    NaN    NaN  13.0
...                   ...   ...   ...   ...   ...   ...    ...    ...   ...
36917        325406201  2   5.0   5.0   0.0   3.0   NaN    NaN    NaN  13.0
36918        325406301  2   5.0   5.0   0.0   3.0   NaN    NaN    NaN   NaN
36919        325407001  2   8.0   7.0   0.0   3.0   NaN    NaN    NaN   NaN
36920        325407201  2   2.0   1.0   0.0   3.0   NaN    NaN    NaN   NaN
36921        325407401  2   1.0   1.0   0.0   3.0   NaN    NaN    NaN  13.0

       V327  ...  V363  V364  V367  V372  V372A  V375A  V376  V376A  V379  \
0       5.0  ...   NaN   1.0   1.0   NaN    NaN    NaN   NaN    NaN   NaN
1       NaN  ...   NaN   NaN   NaN   NaN    NaN    NaN   NaN    NaN   NaN
2       1.0  ...   NaN   1.0   2.0   NaN    NaN    NaN   NaN    NaN   NaN
3       NaN  ...   NaN   4.0   NaN   NaN    NaN   23.0  24.0    NaN   NaN
4       1.0  ...   NaN   1.0   2.0   NaN    NaN    NaN   NaN    NaN   NaN
...     ...  ...   ...   ...   ...   ...    ...    ...   ...    ...   ...
36917   1.0  ...   NaN   1.0   2.0   NaN    NaN    NaN   NaN    NaN   NaN
36918   NaN  ...   NaN   2.0   1.0   NaN    NaN    NaN   NaN    NaN   NaN
36919   NaN  ...   NaN   2.0   NaN   NaN    NaN    NaN   NaN    NaN   NaN
36920   NaN  ...   NaN   2.0   NaN   NaN    NaN    NaN   NaN    NaN   NaN
36921   1.0  ...   NaN   1.0   2.0   NaN    NaN    NaN   NaN    NaN   NaN

       V380
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
36917   NaN
36918   NaN
36919   NaN
36920   NaN
36921   NaN

[36922 rows x 25 columns]

In [24]:
rec3_1=rec_3.loc[ :, ['CASEID', 'V501', 'V502', 'V503', 'V504', 'V505', 'V506', 'V507', 'V508', 'V509', 'V510', 'V511', 'V512', 'V513', 'V525', 'V613', 'V714', 'V715']]
rec3_1

,CASEID,V501,V502,V503,V504,V505,V506,V507,V508,V509,V510,V511,V512,V513,V525,V613,V714,V715
0,000100201 2,1.0,1.0,1.0,1.0,NaN,NaN,1.0,2008.0,1297.0,1.0,21.0,11.0,3.0,17.0,2.0,1.0,11.0
1,000102801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2011.0,1344.0,1.0,28.0,7.0,2.0,18.0,3.0,1.0,14.0
2,000102801 6,5.0,2.0,1.0,NaN,NaN,NaN,8.0,1984.0,1016.0,5.0,14.0,34.0,7.0,14.0,0.0,0.0,6.0
3,000104801 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2009.0,1320.0,1.0,18.0,9.0,2.0,15.0,2.0,0.0,6.0
4,000113601 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,2005.0,1272.0,1.0,17.0,13.0,3.0,15.0,2.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33306,325406201 2,2.0,1.0,2.0,1.0,NaN,NaN,12.0,1985.0,1032.0,1.0,14.0,34.0,7.0,12.0,3.0,0.0,5.0
33307,325406301 2,2.0,1.0,1.0,1.0,NaN,NaN,12.0,2002.0,1236.0,1.0,14.0,17.0,4.0,12.0,3.0,0.0,7.0
33308,325407001 2,2.0,1.0,1.0,1.0,NaN,NaN,11.0,1986.0,1043.0,1.0,13.0,33.0,7.0,12.0,4.0,0.0,5.0
33309,325407201 2,2.0,1.0,1.0,1.0,NaN,NaN,5.0,2008.0,1301.0,1.0,13.0,11.0,3.0,13.0,2.0,0.0,11.0
33310,325407401 2,2.0,1.0,1.0,1.0,NaN,NaN,6.0,2013.0,1362.0,1.0,16.0,6.0,2.0,15.0,2.0,0.0,11.0

In [25]:
endes_2019 = pd.merge(rec1_1, rec2_1, on="CASEID", how="outer").pd.merge(endes_2019, rec3_1, on="CASEID", how="outer")

AttributeError: 'DataFrame' object has no attribute 'pd'

5. Unify all the `new_var_labels` in one object and `new_value_labels` in another one object. Name these two objects as `var_labels` and `value_labels`. Use them to generate new attributes for `endes_2019`. These attributes should be named as `var_labels` and `value_labels`. **Hint: Use `update` method.**

In [26]:
# Unificar las etiquetas de variables en un solo objeto var_labels

In [26]:
var_labels = {}
for i, var_labels_name in enumerate(var_labels_names):
    var_labels.update(globals()[var_labels_name])

NameError: name 'var_labels_names' is not defined

6. Now, replicate your code of the prevoius sections but for years **2019, 2018, 2017, 2016, 2015**. Import the `REC0111.sav`, `RE223132.sav` and `RE516171.sav` files and their **variables and values labels** from this path `"../../_data/endes/"`. For this excersie you must use a for loop. This loop must iterate over **2019, 2018, 2017, 2016, 2015 folders** and import these files. All the files have the same name. You must store these files and their labels in a nested dictionary named as `all_data`. The keys of the dictionary should be named as `year_2019`, for example, and the keys of the nested dictionary should be `data`, `var_labels`, and `value_labels`. **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.)**

7. Use `all_data` to append all the data sets. Store all data sets in a list using `for loop`. Then, use `pd.concat` to append all the data sets. Also, you must reset the index to have a good-looking data. This new object should be named as `endes_data_2015_2019`. **Hint: Use [this code](https://stackoverflow.com/questions/32444138/concatenate-a-list-of-pandas-dataframes-together)**

8. Store all the `var_labels` and `value_labels` in a dictionary named as `all_var_labels` and `all_value_labels`. The first keys should be the year for both dictionaries.Then, use them to generate new attributes for `endes_data_2015_2019`. These attributes should be named as `var_labels` and `value_labels`.  **Hint: Use [this link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=4d6de78e00e7001f16bf6473c2eb7ce24fb611cd&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f346436646537386530306537303031663136626636343733633265623763653234666236313163642f4c6563747572655f342f4c6563747572655f342e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_4%2FLecture_4.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=95#4.2.3.)**

9. Use `endes_data_2015_2019` data to generate a new object named `mean_key_vars` to find the mean of **total children ever born (V201)**, **Ideal number of children (V613)**, **Husbands education-single yrs (V715)**, and **Age at first marriage (V511)** by year and department **(V024)**. Name these columns as **mean_total_children, mean_ideal_children, mean_hb_yr_educ and mean_first_marriage**, respectively. **Hint: Use groupby and [this link](https://stackoverflow.com/questions/40901770/is-there-a-simple-way-to-change-a-column-of-yes-no-to-1-0-in-a-pandas-dataframe).**

10. Merge `mean_key_vars` with `endes_data_2015_2019`. Name this object `final_result`. **Hint: Use merge.**